html, body {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  top: 0;
  background: #eeeeee;
  font-family: sans-serif;
}

.navbar{
  background-color:#ffe600;
  width: 100%;
  max-height: 110px;
  text-align: center;
  margin-bottom:0px;
}

.input-group.meli-input-cont, .container {
  width: 100%;
  max-width: 1050px;
  padding: 0px 15px;
}
.input-group.meli-input-cont{
  margin-top: 5px;
}
.container {
  margin: 0 auto;
}

.meli-logo{
  float: left;
  margin-right: 15px;
  margin-top: 3px;
}

.meli-search{
  width: 100%;
  max-width: 905px;
  float: left;
  height: 40px !important;
  padding: 10px 12px;
  font-size: 18px;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  border: none;
}

.meli-input-cont span.input-group-addon {
  width: 45px !important;
  height: 40px !important;
  float: left;
  padding: 10px 12px;
  cursor:pointer;
  border: none;
}

ul.result-list {
  background-color: white;
  width: 100%;
  padding: 0px;
  list-style-type: none;
}

.list-thumb img {
  width: 180px;
  height: 180px;
  border-radius: 4px;

}

.list-thumb {
  display: table;
  float: left;
  padding: 16px 16px 16px 0px;
}

.result-list li {
  clear: both;
  display: -webkit-box;
  padding: 0 16px;
}

.text-center{
  text-align: center;
}

.product-row {
  width: 100%;
  border-bottom:1px solid #eeeeee;
}

.list-detail {
  width: 75%;
  float: left;
  padding: 56px 0px;
}

p.price {
  font-size: 24px;
  margin-bottom: 18px;
  display: table;
  float: left;
}

p.location {
  font-size: 12px;
  display: block;
  float: right;
  margin-top: 15px;
  width: 100px;
  text-align: left;
  color: #666666;
}

.name p a {
  font-size: 18px;
  color: #333333;
}

.price-location {
  display: table;
  clear: both;
  width: 100%;
}

.name p {
  max-width: 365px;
}

img.free-shipping-ic {
  padding: 7px;
}

ol.categoriesList {
  list-style: none;
  padding: 16px 0px;
  margin: 0px;
}

.categoriesList li {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 2px;
  line-height: 1.45;
  color: #999999;
}

.categoriesList li:not(:first-child)::before {
  content: "\F054";
  font-family: FontAwesome;
  display: inline-block;
  width: 10px;
  margin: 0px 3px 0px 8px;
  font-size: 10px;
  font-weight: lighter;
}

@media screen and (max-width: 975px) {
        .meli-search{
          width: 80% !Important;
        }
}

@media screen and (max-width: 600px) {
  .meli-search{
    width: 60% !Important;
  }
}